@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow: hidden;
}
.text{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
.noteCard{
background: rgba(255, 255, 255, 0.36);
box-shadow: 0px 1px 2px rgba(3, 7, 18, 0.02),
  0px 5px 10px rgba(3, 7, 18, 0.03),
  0px 12px 22px rgba(3, 7, 18, 0.05),
  0px 20px 39px rgba(3, 7, 18, 0.06),
  0px 32px 61px rgba(3, 7, 18, 0.08);
backdrop-filter: blur(9.8px);
-webkit-backdrop-filter: blur(9.8px);
border-top: 5px solid orangered;
}
.top{
    border-bottom: 1px solid #878686;
}
